# AutoData workspace

In [1]:
import autodata as ad
%load_ext autoreload
%autoreload 2

/usr/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

### Read data

In [2]:
input_file = 'data/adult.csv' #'data/wine.csv'
data = ad.read_csv(input_file, sep=',') #';')
data.set_class('income') #('quality')
data.train_test_split()

/home/adrien/Documents/autodata/autodata.py:58: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.indexes = {'header':range(5)} # header, train, test, valid, X, y

In [3]:
data.get_data('X_header')

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States

In [ ]:
data.get_data('categorical_header')

### Processings

In [ ]:
#data = data.imputation('most')
data = data.encoding('label') #, key='y')
#data = data.normalization('min-max')

### Visualization

In [ ]:
data.plot('y')

In [ ]:
data.pca()

In [ ]:
data.describe()

### Benchmark

In [ ]:
data.score()